@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}
strong {
    color: theme(colors.grey);
}


.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.grey) theme(colors.main-dark);
}

.btn {
    @apply px-4 py-2 text-sm md:text-base text-white rounded-md bg-main-dark hover:bg-main active:bg-alternative transition
}

.btn-big {
    @apply px-8 py-6 text-base md:text-lg text-white rounded-xl bg-main-dark hover:bg-main active:bg-alternative transition
}

.btn-light {
    @apply px-4 py-2 text-white rounded-md bg-main-dark hover:bg-main active:bg-alternative transition
}

.link {
    @apply text-main hover:text-main-dark underline
}

.nav-link {
    @apply px-3 py-2 hover:text-main active:text-secondary transition
}

.rainbow {
    @apply relative bg-gradient-to-r from-secondary via-main to-secondary bg-[length:200%_100%] transition-all duration-500 ease-in-out;
    background-position: 0 0;
}

.rainbow:hover {
    background-position: 100% 0;
}

.soft-rainbow {
    @apply bg-gradient-to-r from-gradient-start to-gradient-end;
}

.text-soft-rainbow {
    @apply bg-gradient-to-r from-gradient-start to-gradient-end inline-block text-transparent bg-clip-text;
}

.highlight-animation {
    animation: highlight-pulse 2s ease-in-out;
}

.inline {
    @apply flex items-center justify-center whitespace-nowrap;
}

.bg-dark-diagonal {
    @apply bg-gradient-to-br from-gray-800 to-main-dark
}

@keyframes highlight-pulse {
    0% {
        background-color: theme(colors.main-dark)
    }
    100% {
        background-color: transparent
    }
}

.page {
    @apply mb-20 p-10 pt-0 md:p-0
}

h2 {
    @apply text-2xl md:text-4xl font-bold
}

h3 {
    @apply text-2xl md:text-4xl font-bold
}

h4 {
    @apply text-lg font-bold
}

ul.list-rainbow-circle {
    @apply py-2 ml-4
}

ul.list-rainbow-circle li {
    @apply relative pl-7 mb-2 leading-[2rem] items-center;
}

ul.list-rainbow-circle li::before {
    @apply content-[''] absolute left-0 top-[0.6rem] w-[0.8rem] h-[0.8rem] rounded-full bg-gradient-to-r from-gradient-start to-gradient-end bg-[length:200%_100%] transition-all duration-500 ease-in-out;
    background-position: 0 0;
}

ul.list-rainbow-circle li:hover::before {
    background-position: 100% 0;
}
